body {
  background-color: black;
}
.containerr {
  display: flex;
}
.navi {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 20%;
  background-color: black;
}
.cont-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}
.cont-2 img {
  width: 20px;
}
.cont-2 a {
  color: white;
  text-decoration: none;
}
.img-container {
  width: 150px; /* Set the desired diameter of the circle */
  height: 150px; /* Should be the same as width to ensure it's a perfect circle */
  overflow: hidden;
  border-radius: 50%; /* This makes the container circular */
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 100%;
  height: auto; 
}

/* home page */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
}
.text-cont {
  width: 70%;
  color: white;
  padding: 5% 10%;
}
.text-cont h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 70px;
    line-height: 84px;
}
.text-cont .hello {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
}
.text-cont .hello {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.2rem;
}


